In [14]:
import numpy as np
from pandas import DataFrame

In [15]:
dframe = DataFrame(np.arange(4*4).reshape((4,4)))

In [16]:
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [19]:
blender = np.array([0,3,2,1])

In [20]:
dframe.take(blender)

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
2   8   9  10  11
1   4   5   6   7

In [21]:
blender = np.random.permutation(4)

In [26]:
blender

array([3, 0, 2, 1])